<div class="container">
<ngb-tabset #t="ngbTabset">
  <ngb-tab id="tab-selectbyid1" title="Simple">
    <ng-template ngbTabContent>
      <p>Raw denim you probably haven't heard of them jean shorts Austin.</p>
      <ngb-alert  [dismissible]="true" >This is a <strong> warning!!</strong> </ngb-alert>
      <div>
        <p>Using Structural directives</p>
        <ul>
          <li *ngFor='let color of colors' >{{color}}</li>
        </ul>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="tab-selectbyid2">
    <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
    <ng-template ngbTabContent>
      <!--<div>{{value}}</div>-->
      <hr>
      <button class="btn btn-primary" (click)="myMethod()">Toggle image</button>
     <div><img  *ngIf="image" [src]="imageUrl" (click)='myMethod()'></div>
    </ng-template>
  </ngb-tab>

<ngb-tab >
    <ng-template ngbTabTitle>New Tab</ng-template>
    <ng-template ngbTabContent>
      <p [ngClass]="{classOne:cone,classTwo:ctwo}">using attribute directive ngClass</p>
      Your Text : <input type='text' [(ngModel)]='userText'/>
               <br/><br/>
               <simple [simpleInput]='userText'></simple>
               <hr>
      <div>
        <p>{{name}}</p>
        <p>{{name | uppercase}}</p>
        <p>{{name | lowercase}}</p>
        <p>{{name | slice:'2':'6'}}</p>
      </div>
      <hr>
      <div>
        
        <h2>{{50}}</h2>
        <h2>{{50 | currency:'USD':true}}</h2>
        <h2>{{50 | currency:'GBP':true}}</h2>
        <h2>{{50 | currency:'INR':true}}</h2>
      </div>
      <hr>
      <div>
        <h2>{{date}}</h2>
        <h2>{{date | date:'fullDate'}}</h2>
        <h2>{{date | date:'shortDate'}}</h2>
        <h2>{{date | date:'mediumTime'}}</h2>
        <h2>{{date | date:'shortTime'}}</h2>
      </div>
    </ng-template>
 </ngb-tab>
<ngb-tab title="Disabled" [disabled]="true" >
    
    <template ngbTabContent>
    <p>kjdlklk </p>
    </template>
  </ngb-tab>
  <ngb-tab >
    <ng-template ngbTabTitle>Forms</ng-template>
    <ng-template ngbTabContent>
      <h2>User Form Data</h2>
      <app-childcomp></app-childcomp>
    </ng-template>
  </ngb-tab>
  <ngb-tab >
    <ng-template ngbTabTitle>HTTP service and observable</ng-template>
    <ng-template ngbTabContent>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>Employe ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
          </tr>
          <tr *ngFor="let employee of value">
            <td>{{employee.id}}</td>
            <td >{{employee.name}}</td>
             <td >{{employee.email}}</td>
              <td >{{employee.address.city}}</td>
               <td >{{employee.phone}}</td>
          </tr>
        </table>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

 
</div>
